 * {
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
 }

 @font-face {
    font-family: Gatorade-Black; 
    src: url("../fonts/Gatorade-Black.ttf")  format('truetype');
 }
  
 @font-face {
    font-family: Gatorade-Light;
    src: url("../fonts/Gatorade-Light.ttf")  format('truetype');
 }

 @font-face {
    font-family: Gatorade-Medium;
    src: url("../fonts/Gatorade-Medium.ttf")  format('truetype');    
 }

 body {
    font-family: Gatorade-Medium, Arial, Helvetica, sans-serif; 
    background-image: url('../LANDING/_BACKGROUND--1920X1080-PX.png');
    background-size: cover;
    background-repeat: no-repeat;
 } 

 .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: Gatorade-Light;
    color: white;
    font-weight: bolder;
 }

 .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: Gatorade-Light;
    color: white;
    font-weight: bolder;
 }

 .form-control::-ms-input-placeholder { /* Microsoft Edge */
    font-family: Gatorade-Light;
    color: white;
    font-weight: bolder;
 }
 
 .custom-container {
   height: 100vh;
   padding: 0 34% !important;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .form-header {
   border: 3px solid white;
   border-bottom: none;
   padding: 1rem 3rem !important;
   display: flex;
   justify-content: center; 
   color: white;
   font-weight: 900;
 }

 .form-content {
   border: 3px solid white;
   border-top: none;
   /* background-image: url('../Fondo_negro_GATORADE.jpg') !important;
   background-size: cover; */
 }

 .orange {
    background-color: #FF5000 !important;
 }

 .black {
    background-color: #1D1D1B;
 }

 .bold {
    font-weight: bolder !important;
 }

 .btn-primary {
    background-color: #1D1D1B;
    border-color: #1D1D1B;
 }

 .text-danger {
   background-color: white;
 }

input[type="text"] {
   background-color: transparent;
   color: white;
   border-left: none; 
   border-color: #1D1D1B;
}

input[type="file"] {
   background-color: transparent;
   color: white;
   border-left: none; 
   border-color: #1D1D1B;
}

input[type="password"] {
   background-color: transparent;
   color: white;
   border-left: none;
   border-color: #1D1D1B;
}

a {
   color: white;
}

.form-control {
    padding: .5rem .80rem !important;
}

.icon-container {
    color: white;
    padding: .2rem .5rem !important;
    border-radius: 20rem;
    background-color: #1D1D1B;
}

.input-group-text {
    padding: 0 .8rem !important;
    background-color: transparent;
    border-color: #1D1D1B;
    border-right: none;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #FF5000;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 80, 0,.25);
}

@media (max-width: 768px) {
   .custom-container {
      padding: 0 !important;
   }
}

