* {
    box-sizing: border-box;
    margin: 0 !important; 
    padding: 0 !important;
 }

 @font-face {
    font-family: Gatorade-Black;
    src: url("../fonts/Gatorade-Black.ttf")  format('truetype');
 }
   
 @font-face {
    font-family: Gatorade-Light;
    src: url("../fonts/Gatorade-Light.ttf")  format('truetype');
 }

 @font-face {
    font-family: Gatorade-Medium;
    src: url("../fonts/Gatorade-Medium.ttf")  format('truetype');    
 }

html {
    margin: 0;
    height: 100%;
}
 
body {
    font-family: Gatorade-Medium, Arial, Helvetica, sans-serif;
    background-image: url('../LANDING/_BACKGROUND--1920X1080-PX.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
 }

.btn {
    border-radius: 4px !important;
}

.btn-primary {
    background-color: #FF5000;
    border-color: #FF5000;
}

#desktop {
    display: flex;
}

#phone {
    display: none;
}

#gatorade_logo {
    height: 80px;
    position: absolute;
    left: 1%;
    top: 3%;
}

.share-buttons {
    display: flex;
    gap: 10px;
}
.share-button {
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 16px;
}
 
.left-side {
    height: 100vh !important;
    background-image: url('../LANDING/DEPORTISTAS_1051X1079PX.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10% !important;
}

.image-container img{
    border-radius: 3rem;
    width: 100%;
    height: 27rem;
}

.button-container {
    display: flex;
    justify-content: center;
}

#logos {
    position: absolute;
    right: 1%;
    bottom: 2%;
}

.logos-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#text_3 {
    width: 18rem;
    height: auto;
}

.logos-header img {
    width: 15rem;
    height: auto;
}

@media (max-width: 768px) {
    #desktop {
        display: none;
    }

    #phone {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        /* background-image: url('../LANDING/RAYO_894X1123PX.png');
        background-size: 20rem;
        background-repeat: no-repeat;
        background-position: top center; */
    }

    #gatorade_logo {
        height: 50px;
        position: absolute;
        left: 5%;
        top: 3%;
    }

    .image-container img{
        width: 100%;
        height: 55vh !important;
    }

    #hero {
        padding: 1rem !important;
        gap: 4rem;
    } 

    #fecha img{
        position: absolute;
        left: 4%;
    }

    .image-container img{
        border-radius: 10px;
        height: 30rem;
    }

    #footer-logos-phone {
        position: absolute;
        bottom: 1%;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 0.5rem;
        padding-right: 1rem !important;
    }

    #gatorade_logo {
        display: none;
    }

    #mmb {
        margin-top: 15px !important;
    }

    #fecha {
        margin-top: 7px !important;
    }

    #botella {
        height: 1px;
        position: absolute;
        left: 1%;
        bottom: 270px;
    }

    #botella img {
        width: 5rem;
        height: auto;
    }

    @media (max-width: 390px) {
        #botella {
            display: none;
        }

        #footer-logos-phone {
            justify-content: center;
            padding: 0 !important;
        }
    }
}

@media (min-height: 860px) {
    .image-container img{
        height: 40rem;
    }
}